.row, .col{
  box-sizing: border-box;
}

.row{
  max-width: 1200px;
  margin: auto;
}

.col{
  float: left;
}

/*************************
*      colomn width      *
**************************/
.col-1{
  width: calc(100%/12);
}

.col-6{
  width: 50%;
}

.col-12{
  width: 100%;
}
