/*************************
*     Import fonts       *
**************************/
@font-face{
  font-family: Comfortaa, cursive;
  src: url(../../fonts/Comfortaa.ttf) format('truetype'),
}

/*************************
*         Fonts          *
**************************/
*{ 
   font-size: 1.7rem;
font-family: 'Comfortaa' , cursive;
}
}



h1{
  font-size: 5rem;
}

main h1{
  font-size: 4rem;
}

a{
  font-size: 1.9rem;
}

::placeholder {
    font-size: 2em;
    padding: 1em;
}
.menu p {
    text-decoration: none;
    color: white;
    font-size: 2em;
}