.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100vw;
    justify-content: center;
    
    align-content:flex-end;
    height: 105vh;
    padding-top: 4vw;
    padding-bottom: 5vw;
    

}
.menuknop img{
    width: 28vw;
    height: 28vw;
}
.menuknop  {
    width: 28vw;
    height: 28vw;
    padding: 7vw;
   margin: 2vw;
        background-color: rgba(0,0,0,48%);
    border-radius: 20px;
    text-align: center;
   
}